$default-text: #222;
$default-text-light: #fff;
$default-red: #8b0000;
$default-red-darker: #800000;
$default-red-lighter: #990000;
$default-gray: #edf5f4;
$default-gray-darker: #dfe6e4;
$grid-gap: 15px;
$grid-gap-smaller: 8px;

h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  padding-top: 1px;
}

.absentees-btn{
  margin-top: 32px;
}

#add-stud-btn {
  background-color: #990000;
  color: $default-text-light;
  border-radius: 0.25em;
  border: 1px solid #990000;
  cursor: pointer;
  margin-bottom: 5%;
  margin-top: .5%;
  max-width: 44%;
  float: right;
  padding: 4.5px 5px 4px 5px
}

#add-stud-btn:hover {
  background-color: #800000;
  color: $default-text-light;
  text-decoration: none;
}

.absent-padding {
  float: right;
  padding-left: 5px;
}

#absence-btn {
  border-radius: .25em;
  cursor: pointer;
  margin-bottom: 8px;
  margin-right: 1%;
  margin-top: .5%;
  display: block;
  background-color: #d3d3d3;
  background-image: linear-gradient(#d3d3d3,#f5f5f5);
  color: #000;
  margin-left: .5em;
  border: 1.3px solid maroon;
  text-decoration: none;
  max-width: 95px;
  float: right;
  padding-top: 4.5px;
  padding-bottom: 3.5px;
  padding-right: 5px;
  padding-left: 5px;
}

.admin-logo-size {
  height: 150px;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  text-align: center;
}

#absence-btn:hover {
  background-color: #797575;
  background-image: linear-gradient(#b9b8b8,#d4d1d1);
  color: #000;
  text-decoration: none;
}

.add-edit-student-window {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: #eeeeee88;
	display: flex;
	justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.acc-partner-window {
  position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: #eeeeee88;
	display: flex;
	justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.add-edit-student-container {
	background-image: linear-gradient(#f1f1f1,#ececec);
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
}

.acc-partner-container {
  background-image: linear-gradient(#f1f1f1,#ececec);
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  text-align: center;
}

.add-edit-student-row{
	width: 300px;
	height: 40px;
	box-sizing: border-box;
	margin: 5px 10px;
	padding: 5px 5px 0px 5px;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.acc-partner-header {
  margin-bottom: 1.5em;
}

.acc-partner-row {
  width: 300px;
	height: 40px;
	box-sizing: border-box;
	margin: 5px 10px;
	padding: 5px 5px 0px 5px;
  display: flex;
  flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 60%;
  background-color: lightslategray;
  height: 0px;
}

.add-edit-student-row .link-btn{
	height: 27px;
}

.acc-partner-btn {
  margin-top: -1px;
  margin-right: 6px;
}

.auth {
  padding: 0.5em;
  width: 100%;
}

.auth > p {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.box {
  border-radius: 2px;
  background-image: linear-gradient(#f1f1f1,#ececec);
}

body { 
  padding: 2em; 
}

.center-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cancel-btn {
  display: block;
  background-color: #d3d3d3;
  color: #000;
  border: 1.3px solid maroon;
  border-radius: .25em;
  cursor: pointer;
  padding-top: 2px;
  margin-bottom: 8px;
  margin-right: -40px;
  margin-left: 125px;
  background-image: linear-gradient(#d3d3d3,#f5f5f5);
  padding-left: 5px;
  padding-right: 5px;
}

.checkbox-position {
  float: right;
}

#cap {
  background-color: #990000;
  color: white;
  border-radius: .25em;
  float: right;
  margin-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1.3px solid maroon;
}

#cap:hover {
  background-color: #800000;
  color: $default-text-light;
  text-decoration: none;
}

#cap1 {
  background-color: #d3d3d3;
  color: #000;
  border-radius: .25em;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(#d3d3d3,#f5f5f5);
  border: 1.3px solid maroon;
}

#cap1:hover {
  background-color: #797575;
  background-image: linear-gradient(#b9b8b8,#d4d1d1);
  color: #000;
  text-decoration: none;
}

#cancel-btn:hover{
  background-color: #797575;
  background-image: linear-gradient(#b9b8b8,#d4d1d1);
  color: #000;
  text-decoration: none;
}

.dashboard-wrapper {
  grid-template-columns: minmax(0, 1fr);
}

.data-section-container-grid {
  display: grid;
  grid-gap: $grid-gap-smaller;
  grid-template-columns: 1fr;
}

@media only screen and (max-width:768px){
  .data-container{
    grid-template-columns: repeat(2,minmax(75px,1fr)) !important;
  }
}

.data {
  text-align: center;
}

.data-section-container-flex {
  -webkit-column-count: 1;
  -webkit-column-gap: $grid-gap;
  -moz-column-count: 1;
  -moz-column-gap: $grid-gap;
  column-count: 1;
  column-gap: $grid-gap;
}

.data-section-flex {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  padding-top: 1px;
}

.dash-btn, .dash-btn:visited {
  display: block;
  color: $default-text-light;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  margin-left: 27px;
  pointer-events: none;
}

.dash-btn:hover {
  color: $default-text-light;
  text-decoration: none;
  cursor: default;
}

.data-section h2 {
  width: 100%;
  margin-top: 0px;
}

.delinquents {
  margin-top: 0.25em;
}

.delinquents h4 {
  color: #777;
  font-weight: lighter;
  text-transform: capitalize;
}

.delinquents ul {
  padding: 0.25em 0em;
  list-style-type: none;
}

.delinquents ul li {
  padding: 0.25em 0em;
  min-height: 40px;
}

.data-container {
  min-height: 6em;
  display: grid;
  grid-gap: $grid-gap-smaller;
  grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
}

.error-message{
	color: red;
	height: max-content;
}

#edit-student-btn {
  margin-right: 1px;
}

.flex-center {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-data {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0.05em 0 0;
}

.fraction {
  font-size: 1.15em;
  color: #777;
}

.roster ul li {
  padding: 0.25em 0em;
  min-height: 40px;
}

.roster ul {
  padding: 0.25em 0em;
  list-style-type: none;
}

.glyphicon-download-alt:hover {
  cursor: pointer;
  color: #990000;
}

.glyphicon-time {
  color: #990000;
  float: left;
  margin-left: 10px;
}

.gitHub {
  background-image: url(../img/github.svg);
  width: 14px;
  height: 14px;
  float: left;
  margin-left: 10px;
  margin-top: 2px;
}

.gly-padding {
  margin-left: 10px;
}

html {
  font-size: 15px;
  font-family: Avenir, Geneva, sans-serif;
  color: $default-text;
}

.hours-container {
  display: grid;
  grid-gap: $grid-gap-smaller;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}

.delinquents ul li {
  padding: 0.25em 0em;
  min-height: 40px;
}

.studentListContainer {
  padding: 0.25em 0em;
  min-height: 40px;
}

header {
  display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  margin-bottom: .25em;
}

.header-name {
  text-align: center;
  margin-top: 15px;
}

header .date {
  font-size: 1.25em;
  margin-left: 3.25em;
}

.inline-block {
  display: inline-block;
}

#icon {
  padding-left: 20px;
  display: flex;
}

.student-links li a:hover {
  background: $default-gray-darker;
  width: 92%;
}

.loginBtn--google {
  background: #990000;
}
.loginBtn--google:before {
  border-right: #4b0303 1px solid;
  background: url('../img/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #800000;
  box-shadow: #000;
}

.link-btn, .link-btn:visited {
  display: block;
  background-color: #990000;
  color: #fff;
  padding: 0.25em 1em;
  border: 1.3px solid #990000;
  border-radius: 0.25em;
	text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 8px;
  margin-right: 15px;
}

.link-btn:hover {
  background-color: #800000;
  color: $default-text-light;
  text-decoration: none;
}

.link-btn1, .link-btn:visited {
  float: right;
  background-color: #797575;
  color: #000;
  border: 1.3px solid maroon;
  border-radius: 0.25em;
	text-decoration: none;
  cursor: pointer;
  margin-left: 1%;
  margin-bottom: 0%;
  margin-right: 1%;
  background-image: linear-gradient(#d3d3d3,#f5f5f5);
  margin-top: .5%;
  padding: 4.5px 5px 3.5px 5px;
}

.link-btn1:hover {
  background-color: #797575;
  background-image: linear-gradient(#b9b8b8,#d4d1d1);
  color: #000;
  text-decoration: none;
}

.link-btn2, .link-btn:visited {
  float: right;
  background-color: #797575;
  color: #000;
  padding: 2.25px 1em;
  border: 1.3px solid maroon;
  border-radius: 0.25em;
	text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 1px;
  margin-right: 15px;
  background-image: linear-gradient(#d3d3d3,#f5f5f5);
  margin-top: 1px;
  padding-bottom: 3px;
  padding-top: 4px;
}

.link-btn2:hover {
  background-color: #797575;
  background-image: linear-gradient(#b9b8b8,#d4d1d1);
  color: #000;
  text-decoration: none;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--google {
  background: #990000;
}

.loginBtn--google:before {
  border-right: #4b0303 1px solid;
  background: url('../img/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #800000;
  box-shadow: #000;
}

.login-container {
  width: 95%;
  max-width: 500px;
  min-width: 383px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.login-container > h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.login-container form {
  border-radius: 8px;
  padding: 2em 1.75em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#f1f1f1,#ececec);
}

.dashboard-link {
  width: 50px;

}

.login-container {
  width: 80%;
  margin-top: -1em;
}

#logo-style-student-page {
  max-height: 50px;
  background-image: url("../img/sdcs_logo.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -46px;
  max-width: 50px;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.login-container form input {
  width: 100%;
  padding: 0.75em;
  margin: 10px;
  font-size: 15px;
}

#logo-style {
  max-height: 50px;
  margin-left: 25px;
  background-image: url("../img/sdcs_logo.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  margin-top: 1px;
}

#logo-admin-style > img {
  display: block;
  text-align: center;
  border: black;
  margin: 0 auto;
  width: 125px;
}

#logo-admin-style {
  width: 200px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

.login-container form input[type=submit] {
  width: 45%;
  cursor: pointer;
  font-size: 15px;
  padding: 0.3em;
}

main {
  min-width: 200px;}

.missing-info {
  background: #fa8989;
}

name-margin {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.not-checked-in-color {
  color: #990000;
}

.navigation {
  list-style-type: none;
  flex-direction: row-reverse;
}

.pointer {
  cursor: pointer;
}

.return-btn {
  display: block;
  background-color: #990000;
  border: 1px solid #990000;
  color: #fff;
  margin-left: .5em;
  border-radius: .25em;
  cursor: pointer;
  padding: 3px 10px 5px 10px;
  margin-bottom: 8px;
  margin-right: 4px;
}

#position {
  display: block;
  background-color: #990000;
  border: 1px solid #990000;
  color: #fff;
  margin-left: .5em;
  border-radius: .25em;
  cursor: pointer;
  padding: 3px 10px 5px 10px;
  margin-bottom: 8px;
  margin-right: 4px;
}

#position:hover {
  background-color: #800000;
  color: $default-text-light;
  text-decoration: none;
}

.red-date {
  color: #990000;
  padding-left: 90px;
  margin-top: -60px;
  min-width: 1px;
}

.red-stripe {
  background-color: #900;
  min-height: 55px;
  max-width: 4px;
  margin-left: -15px;
  margin-bottom: 5px;
}

.red-stripe-1 {
  background-color: #900;
  min-height: 55px;
  max-width: 4px;
  margin-left: 10px;
  margin-bottom: -55px;
}


req.body.checkin{
  color: #990000;
  font-size: 50px;
  font-style: italic;
  padding: 30 30 30 70;
}

.roster ul li {
  padding: 0.25em 0em;
  min-height: 40px;
}

.section-label {
  font-size: 0.9em;
  letter-spacing: 0.025em;
}

.section-label a{
  display: block;
  background-color: #990000;
  color: #fff;
  border: 1px solid #990000;
  border-radius: .25em;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 6px 3px 6px;
}

.student-links {
  padding: 0.5em 0;
  list-style-type: none;
  padding-right: 50px;
}

.shifting {
  padding-left: 10px;
  padding-right: 5px;
}

.student-links li {
  border-bottom: 1px solid $default-gray-darker;
  min-height: 34px;
  width: 100%;
  margin-right: 1px;
}

.shadow {
  text-align: center;
}

#student-drop {
  padding-right: 40px;
  padding-left: 75px;
  padding-top: 11px;
  padding-bottom: 7px;
}

#slip {
  color: #990000;
  padding-left: 10px;
}

.secondary-btn, .secondary-btn:visited {
  background-color: #990000;
  color: whitesmoke;
  padding: 0.25em 1em;
  border: 1.30px solid #990000;
  border-radius: 0.25em;
	text-decoration: none;
  cursor: pointer;
  float: right;
  margin-left: 5px;
}

.secondary-btn:hover {
  background-color: #800000;
  color: whitesmoke;
  text-decoration: none;
}

.student-links li:last-of-type {
  border-bottom: none;
  padding-bottom: 0em;
  width: 100%
}

.student-links li a, .student-links li a:visited {
  text-decoration: none;
  color: $default-text;
  display: block;
  float: left;
  padding: 0.5em;
}

.standup-container {
  display: grid;
  grid-gap: $grid-gap-smaller;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.student-links li a:hover {
  background: $default-gray-darker;
}

.standup-card {
  margin-bottom: 0.5em;
}

.student-col-size {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: -4px;
}

#student-type {
  width: 173px;
  margin: -2px;
  background-color: #fff;
}

.standup-card-title {
  background-color: $default-text;
  border-radius: 5px 5px 0px 0px;
  color: $default-gray;
  padding: 0.25em 0.5em;
}

.standup-card-content {
  margin: 0.75em 0.25em;
}

.standup-question {
  font-size: 1.05em;
  font-weight: bold;
}

.student-summary-padding{
  margin-top: 10px;
}

.shadow {
  text-align: center;
}

.toggleContent-closed {
  display: none
}

.type-drop {
  cursor: pointer;
  background-color: #d3d3d3;
  color: #000;
  padding-left: 1px;
  width: 124px;
  background-image: linear-gradient(#d3d3d3,#f5f5f5);
  border: 1.3px solid maroon;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.type-drop:hover {
  background-color: #797575;
  background-image: linear-gradient(#b9b8b8,#d4d1d1);
  color: #000;
  text-decoration: none;
}

.typeStudentsWrapper{
  max-width: 400px;
}

.toggleContent-open {
  display: block
}

.toggleContent-hidden {
  display: none;
}

.unchecked {
  background-image: linear-gradient(#f1f1f1,#ececec);
  border: 2px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 30px;
  min-width: 349px;
}

.visible {
  display: block;
}

.visible li .link-btn, .visible li .link-btn:visited {
  padding: 1em 1.5em;
  background-color: transparent;
  margin: 0;
  border: none;
  border-radius: 0;
  text-align: center;
}

.visible li .link-btn:hover {
  color: #bbb;
}

#view-data-orientation {
  margin-bottom: 37px;
  font-size: 30px;
  margin-top: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.wrapper {
  display: grid;
  grid-gap: $grid-gap-smaller;
  grid-template-columns: minmax(0, 1fr);
}

#add-part-btn {
  background-color: #990000;
  color: $default-text-light;
  border-radius: 0.25em;
  border: 1px solid #990000;
  cursor: pointer;
  margin-bottom: 5%;
  margin-top: .01%;
  max-width: 44%;
  float: right;
  padding: 4.5px 5px 4px 5px
}

#add-part-btn:hover {
  background-color: #800000;
  color: $default-text-light;
  text-decoration: none;
}

.indicator-container {
  justify-content: flex-start;
  flex-direction: row-reverse;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex;
}

.indicator-box {
  width: 2%;
  height: 15px;
  border: 1px solid black;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

.standup-checkin-label {
  font-size: smaller;
}

.standup-checkin-label.right {
  float: right;
}

.indicator-box:hover {
  cursor: default;
}

.indicator-selector {
  margin-left: 10px;
  float: right;
  font-size: smaller;
}

.nameCentering {
  align-items: center !important;
}

th {
  align-self: auto;
}

.x {
  position: relative;
  width: 30px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 17px;
  padding-right: 30px;
}

.x::before,
.x::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #900;
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  transform: rotate(-45deg);
}

.nameCentering {
  align-items: center !important;
}

th {
  align-self: auto;
}

.x {
  position: relative;
  width: 30px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 17px;
  padding-right: 30px;
}

.x::before,
.x::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #900;
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  transform: rotate(-45deg);
}
