<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="San Diego Code School Accountability Partner Dashboard">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css' />
    <link rel='stylesheet' href='/studentDashStyle.css' />
    <title>Dashboard - Partner</title>
  </head>
  <body>
    <div id="root"></div>
    <script>var student = <%- JSON.stringify(studentObject) %>;</script>
    <script src="../PartnerDashboard.js"></script>
  </body>
</html>
